<div class="wrapper">
    <div class="header-home-maestro">
      <app-navbar></app-navbar>
    </div>
    <div class="body-maestro">
      <div class="row mt-5 mb-5">
        <div class="col-12">
          <span class="title-perfil">Bienvenido {{name_user}}</span>
          <br><br>
          <span class="title-perfil">Administrador</span>
        </div>
      </div>
      <div class="container">
        <div class="row mt-3 mb-5" style="text-align: center;">
          <div class="col-12">
            <div class="alert alert-primary" role="alert">
              <span class="title-table">Lista de Maestros registrados</span>
            </div>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">NRC</th>
              <th scope="col">SECCIÓN</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">HORA INICIO</th>
              <th scope="col">HORA FINAL</th>
              <th scope="col">DÍAS</th>
              <th scope="col">SALÓN</th>
              <th scope="col">PROGRAMA</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let materia of lista_materia; let i=index">
              <td>{{materia.nrc}}</td>
              <td>{{materia.seccion}}</td>
              <td>{{materia.nombre}}</td>
              <td>{{materia.horaInicio}}</td>
              <td>{{materia.horaFinal}}</td>
              <td>{{materia.dias}}</td>
              <td>{{materia.salon}}</td>
              <td>{{materia.programa}}</td>
              <td class="td-editar"><i class="bi bi-pencil-square" (click)="goEditar(materia.id)"></i></td>
              <td class="td-eliminar"><i class="bi bi-trash3-fill" (click)="delete(materia.id)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>