<div class="wrapper">
  <!-- Va a englobar todo el formulario con la cabecera -->
  <div class="section-registro">
    <app-navbar></app-navbar>
    <div class="body-registro">
      <div class="row mt-3 mb-3">
        <div class="form-group col-12">
          <label class="title-user">Ingresa los datos de la materia</label>
        </div>
      </div>
      <!-- Campos del formulario -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-animate.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-messages.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-aria.min.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.css"
        rel="stylesheet" type="text/css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

      <script src="https://unpkg.com/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js"></script>
      <script
        src="https://unpkg.com/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js.map"></script>
      <link href="https://unpkg.com/ng-material-datetimepicker/dist/material-datetimepicker.min.css" rel="stylesheet"
        type="text/css">

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Ingresa NRC</mat-label>
        <input matInput [(ngModel)]="materia.nrc" name="id" placeholder="Ingresa NRC">
      </mat-form-field>
      <div *ngIf="errors.nrc" class="invalid-feedback">{{ errors.nrc }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Sección</mat-label>
        <input matInput [(ngModel)]="materia.seccion" placeholder="Ingresa sección">
      </mat-form-field>
      <div *ngIf="errors.seccion" class="invalid-feedback">{{ errors.seccion }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Nombre de materia</mat-label>
        <input matInput [(ngModel)]="materia.nombre" placeholder="Escribe nombre de materia">
      </mat-form-field>
      <div *ngIf="errors.nombre" class="invalid-feedback">{{ errors.nombre }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Hora de inicio</mat-label>
        <input matInput [(ngModel)]="materia.horaInicio" placeholder="Escribe hora inicio"
          [ngxMatTimepicker]="horaInicio">
        <ngx-mat-timepicker #horaInicio></ngx-mat-timepicker>
      </mat-form-field>
      <div *ngIf="errors.horaInicio" class="invalid-feedback">{{ errors.horaInicio }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Hora fin</mat-label>
        <input matInput [(ngModel)]="materia.horaFinal" placeholder="Escribe hora final" [ngxMatTimepicker]="horaFinal">
        <ngx-mat-timepicker #horaFinal></ngx-mat-timepicker>
      </mat-form-field>
      <div *ngIf="errors.horaFinal" class="invalid-feedback">{{ errors.horaFinal }}</div>

      <div class="select-materias">
        <div class="row mt-3 mb-3">
          <div class="form-group col-12">
            <label class="title-materias">Selecciona los días a impartir</label>
          </div>
        </div>
        <div class="checkbox-group" *ngFor="let dia of dia; let i = index">
          <mat-checkbox class="checkbox-item opc-sc" name="opsc" (change)="checkboxChange($event)"
            value="{{dia.nombre}}" [checked]="revisarSeleccion(dia.nombre)">
            <div class="d-checkbox-nombre">{{dia.nombre}}</div>
          </mat-checkbox>
        </div>
      </div>
      <div *ngIf="errors.dias" class="invalid-feedback">{{ errors.dias }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Salón</mat-label>
        <input matInput [(ngModel)]="materia.salon" placeholder="Escribe salón">
      </mat-form-field>
      <div *ngIf="errors.salon" class="invalid-feedback">{{ errors.salon }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Programa Educativo</mat-label>
        <mat-select [(ngModel)]="materia.programa" mask="Ciencias de la computación"
        placeholder="Escribe el programa educativo">
          <mat-option [value]="'Ingeniería en Ciencias de la Computación'">Ingeniería en Ciencias de la Computación</mat-option>
          <mat-option [value]="'Licenciatura en Ciencias de la Computación'">Licenciatura en Ciencias de la Computación</mat-option>
          <mat-option [value]="'Ingeniería en Tecnologías de la Información'">Ingeniería en Tecnologías de la Información</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="errors.programa" class="invalid-feedback">{{ errors.programa }}</div>

      <div class="section-buttons">
        <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
        <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
        <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
